* {
	all: unset;
	font-family: "JetBrainsMonoNL Nerd Font";
}

.container {
	all: unset;
	background-color: #213246;
	border-radius: 50px;
	border: 1px solid #294463;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 35px;
}

.main_bar {
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
}

.metric {
	all: unset;
	color: #294463;
}

.metric scale trough {
	all: unset;
	background-color: #0d0f16;
	border-radius: 50px;
	min-height: 10px;
	min-width: 75px;
	margin-left: 10px;
	margin-right: 20px;
}

.metric scale trough highlight {
	all: unset;
	background-color: #ad2f34;
	color: #000000;
	border-radius: 10px;
}

.workspaces {
	all: unset;
}

.workspace_button {
	all: unset;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #0d0f16;
	border-radius: 2px;
	border: 1px solid #557d9d;
	min-height: 15px;
}

.music_button {
	all: unset;
	padding: 5px;
	background-color: #0d0f16;
	border-radius: 50px;
	border: 1px solid #557d9d;
	min-width: 5px;
}

.workspace_button:hover {
	background-color: #294463;
}
