* {
	all: unset;
	font-family: "JetBrainsMonoNL Nerd Font";
}

.container {
	all: unset;
	background-color: #000000;
	border-radius: 15px;
	border: 2px solid #ff0000;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 35px;
}

.container_hub {
	all: unset;
	background-color: #213246;
	border-radius: 50px;
	border: 1px solid #294463;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 20px;
	min-height: 20px;
}

.main_bar {
	all: unset;
	background-color: transparent;
}

.metric {
	all: unset;
}

.metric scale trough {
	all: unset;
	background-color: #0d0f16;
	border-radius: 50px;
	min-height: 10px;
	min-width: 50px;
	margin-left: 10px;
	margin-right: 20px;
}

.music {
	all: unset;
	margin-right: 10px;
}

.metric scale trough highlight {
	all: unset;
	background-color: #ff0000;
	color: #000000;
	border-radius: 5px;
}

.workspaces {
	all: unset;
	min-height: 15px;
}

.workspace_button {
	all: unset;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #000000;
	border-radius: 5px;
	border: 2px solid #ff0000;
	min-height: 10px;

	margin-top: 5px;
}

.active_workspace_button {
	all: unset;
	padding-right: 5px;
	padding-left: 5px;
	min-height: 10px;
	background-color: #611717;
	border-radius: 5px;
	border: 2px solid #ff0000;
	margin-top: 5px;
}

.music_button {
	all: unset;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #000000;
	border-radius: 15px;
	min-width: 15px;
}

.music_button:hover {
	background-color: #ff0000;
}

.workspace_button:hover {
	background-color: #ff0000;
}
